<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="LoggerType" value="FileLogger"/>
    <add key="LoggerTarget" value="e:\\log.txt" />
    <!--<add key="LoggerType" value="DBLogger" />
    <add key="LoggerTarget" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=G:\3_Program\DBFile\DBforLogger.mdf;Integrated Security=True;Connect Timeout=30" />-->
    <!--<add key="LoggerType" value="JsonLogger" /> 
    <add key="LoggerTarget" value="G:\log.txt" />-->
  </appSettings>
</configuration>